<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Películas</title>
    <link rel="stylesheet" href="/static/css/pico.css">
</head>
<body>
    <header class="container">
    <nav>
        <ul>
            <li>
                <h3><strong style="color: rgb(11, 110, 164); font-style: oblique;">BUSCADOR DE PELICULAS</strong></h3>
            </li>
        </ul>
    </nav>
</header>
    <section class="container">
    {% block content %}

    {% endblock %}
    </section>

    <footer>
        <div class="container">
            &copy; Proyecto Bootcamp 2026 de: Estefanía Sánchez Sánchez
        </div>
    </footer>
    
</body>
</html>